.fun-page {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(black, darkblue);
    background-size: 1000% 500%;
    animation: gradient-background 2s infinite ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
@keyframes gradient-background {
    0% {
        background-position: 0;
    }
    50% {
        background-position: 100%;
    }
    100% {
        transform: scale(1);
    }
}

.santa-svg {
    width: 60vw;
    height: 60vh;
    animation: santa-animation 5s infinite ease-in-out;
}

@keyframes santa-animation {
    0% {
        transform: scale(1) rotate(0);
    }
    50% {
        transform: scale(0) rotate(360deg);
    }
    100% {
        transform: scale(1) rotate(720deg);
    }
}

.snow-svg {
    position: absolute;
    width: 2vw;
    height: 2vh;
}

.oleni-svg {
    width: 20vw;
    top: 0;
    position: absolute;
    left: -20vw;
    animation: oleni-animation 15s infinite;
}

@keyframes oleni-animation {
    0% {
        transform: rotate(0) translateX(-20);
    }

    50% {
        transform: rotate(8deg) translateX(55vw);
    }

    100% {
        transform: rotate(0) translateX(120vw);
    }
}
